.bodyBackground {
  background-color:  rgb(240, 240, 240);
  z-index: -100;
  opacity: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  opacity: 1;
}

.App-header {
  background-color: rgba(40, 0, 56, 0.7);
  /* height: 150px; */
  max-height: 150px;
  padding: 5px 0px;
  margin: 0px;
  color: white;
  z-index: -10;
}

.App-title {
  color: white;
  font-size: 1.5em;
  z-index: 12;
}

.App-intro {
  font-size: large;
}

.App-Event-Info {
  /* all: initial; */
  padding: 20px 0px 20px 60px;
  text-align: left;
  color: white;
  opacity: initial;
  position: relative;
  bottom: 0px;
}

.App-Event-Info * {
  /* all: initial; */
  padding: 0px;
  margin: 5px;
  text-align: left;
  opacity: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Landing-Page-Card {
  position: relative;
  display: inline-block;
  /* justify-content: center;
  align-items: center; */
  border: 1px solid  rgb(230, 230, 230);
  max-width: 860px;
  top: -0;
  background-color: white;
  padding: 0px;
  margin: 20px;
  text-align: center;
  opacity: 1;
  border-radius: 10px;
  overflow: hidden;
}

#cardimage {
  position: static;
  width: 500px;
}

.descriptiontext {
  color: rgb(143, 143, 143);
  margin: 0px;
  padding: 0px;
}

#registernowbtn {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}